/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .collapse .navbar-nav .login .dropdown {
        padding: 10px 17px;
    }
    .about h2 {
        font-size: 38px;
    }
    .about .commentaries {
        margin-left: -70px;
        width: 150%;
    }
    .contacts-wrapper {
        margin-left: 7%;
    }
    .stage-wrapper p {
        margin-right: 75px;
    }
    .description-wrapper-about {
        margin: 25px 0 30px 0px;
    }
    .footer-list li>a {
        font-size: 13px;
    }
    .footer-list li {
        margin: 2% 10px 1% 0;
    }
    .block-offer {
        padding: 14px;
    }
    .info-block-offer {
        padding-left: 10px;
    }
    .searcher-catalog li {
        margin: 10px 3% 5px 0;
    }
    .area-field {
        margin: 10px 7% 10px 0;
    }
    .area-wrapper .area {
        margin-left: 12%;
        max-width: 758px;
    }
    .stage-wrapper .stage {
        margin-left: 0;
    }
    .type-wrapper {
        margin-left: 45px;
        max-width: 485px;
    }
    .facilities-field {
        margin-left: 95px;
    }
    .type {
        max-width: 395px;
        margin-left: 20px;
    }
    .year-wrapper {
        margin-left: 55px;
    }
    .furniture-wrapper {
        max-width: 610px;
    }
    .sorting-wrapper ul {
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1024px) {
    .navbar-nav .dropdown,
    .main-nav-bar .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
    .wrapper-button-form-settings {
        width: 100%;
    }
    .button-form-settings {
        margin-right: 5px;
    }
}
/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .parametrsearch-tabs-wrapper {
        display: block;
        padding: 0;
    }
    .parametrsearch-tabs-wrapper li {
        list-style: none;
    }
    .leftside-laying-over {
        display: none;
    }
    .searcher-catalog .price-field {
        width: 25%;
    }
    .area-wrapper .area {
        margin-left: 13%;
        max-width: 557px;
    }
    .stage-wrapper p {
        margin-right: 55px;
    }
    .type ul {
        padding: 0;
    }
    .type-wrapper {
        margin-left: 35px;
        max-width: 371px;
    }
    .searcher-catalog li {
        margin: 10px 1% 5px 0;
    }
    .price-field input {
        width: 38%;
    }
    .area-field .field2 {
        width: 29%;
    }
    .offer {
        height: auto;
    }
    .block-offer img {
        display: none;
    }
    .underline-main-searcher-catalog {
        display: none;
    }
    .furniture-wrapper ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .main-map .info-main-map {
        height: auto;
    }
    .type {
        margin-left: 15px;
        max-width: 286px;
    }
    .check-field1 {
        margin-right: 20px;
    }
    .contacts .left-picture {
        float: none;
    }
    .contacts img {
        float: none;
        max-width: 513px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .tabs-section .invisiblemenu-tabs-wrapper {
        display: block;
    }
    .tabs-navi {
        display: none;
    }
    .collapse .navbar-right {
        width: 68%;
    }
    .collapse .navbar-nav .login .dropdown {
        padding: 6px 13px;
        font-size: 12px;
        margin-right: -20px;
        margin-top: 5px;
    }
    .main-nav-bar .navbar-default .navbar-nav>li>a {
        padding-right: 8px;
        font-size: 12px;
        font-family: "proximanova-bold";
    }
    .main-nav-bar .navbar-default .navbar-nav .dropdown .dropdown-toggle {
        border: 2px solid #ca870e;
    }
    .about-h2-wrapper {
        float: none;
        margin: 0 auto 2%;
        height: 76px;
    }
    .about span {
        display: inline-block;
        margin: 20px 0 2% 31%;
        text-align: left;
    }
    .about .comments-about {
        display: none;
    }
    .about h2 {
        float: none;
    }
    .services-wrapper h2 {
        padding-top: 20px;
    }
    .services {
        height: auto;
    }
    .about .description-wrapper-about .invisible-block {
        display: inline-block;
        margin: 20px 0;
        text-align: left;
        max-width: 200px;
    }
    .about .commentaries {
        display: none;
    }
    .description-wrapper-about {
        max-width: 500px;
        display: block;
        margin: 10px auto 0;
    }
    .about-picture {
        display: block;
        margin: 0 auto;
        float: none;
    }
    .contacts-wrapper img {
        float: none;
        max-width: 513px;
        margin: 0 auto;
        display: none;
    }
    .contacts .invisible-block,
    .contacts .invisible-block img {
        display: block;
        max-width: 513px;
        margin: 0 auto;
    }
    .contacts-wrapper {
        margin: 25px auto;
        max-width: 513px;
        width: 100%;
    }
    .services-wrapper {
        max-width: 500px;
        margin: 10px auto 10px;
    }
    .about-wrapper-h2 {
        max-width: 500px;
        text-align: left;
        margin: 0 auto;
    }
    .wrapper-leftside-footer {
        margin: 0 auto;
        max-width: 415px;
        float: none;
    }
    .footer-list {
        max-width: 510px;
        margin: 0 auto;
        text-align: left;
    }
    .footer-list li>a {
        font-size: 16px;
    }
    .services-wrapper img {
        max-width: 500px;
    }
    /*******slovo-index***/
    
    .info-block-offer {
        padding-left: 5px;
        width: 48%;
        height: auto;
    }
    .price-info-block-offer {
        font-size: 15px;
    }
    .description-info-block-offer .field2,
    .description-info-block-offer .field3 {
        font-size: 11px;
    }
    .description-info-block-offer .field1 {
        font-size: 14px;
    }
    .title-info-block-offer {
        font-size: 15px;
    }
    .date-info-block-offer {
        float: right;
    }
    .block-offer:nth-child(n+3) {
        border-top: 1px solid #e5e5e5;
    }
    .block-offer {
        padding: 10px;
        border-top: 1px solid #e5e5e5;
        margin: 0 auto;
    }
    .description-info-block-offer {
        height: auto;
    }
    .info-rightside-catalog {
        margin-right: 0px;
    }
    .input-wrapper {
        display: block;
        float: none;
    }
    .form-settings {
        text-align: center;
    }
    .upload-wrapper .figure {
        width: 250px;
        height: 250px;
    }
    .upload-wrapper p {
        max-width: 300px;
        text-align: center;
        padding-left: 0;
    }
    .input-wrapper p span {
        text-align: left;
    }
    .modal-dialog .registration-modal-content {
        height: auto;
    }
    .facilities-wrapper p {
        margin-left: 0;
    }
    .year-wrapper {
        margin-left: 50px;
        max-width: 335px;
    }
    .check-field2 {
        float: none;
    }
    .facilities-field {
        margin-left: 90px;
        max-width: 160px;
    }
    .furniture-wrapper {
        max-width: 395px;
    }
    .sorting-wrapper ul {
        margin-left: 13px;
    }
}
/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    .invisible-date-info-block-offer {
        display: inline-block;
        float: right;
        padding-top: 5px;
    }
    .border-wrapper {
        border: none;
    }
    .tab-wrapper-mobile {
        padding: 0;
    }
    .push-modal-header span {
        display: inline-block;
    }
    .push-modal-header h2 {
        display: none;
    }
    .enter-modal-footer .button-form-enter {
        max-width: 100%;
    }
    .checkbox-enter label {
        margin: 0 0 5px 0;
    }
    .info-rent-wrapper .date-payment {
        margin-bottom: 10px;
    }
    .date-info-block-offer {
        display: none;
    }
    .type ul {
        padding: 0;
    }
    .dropdown-menu-footer {
        float: right;
    }
    .dropdown-menu-footer ul {
        top: -110px;
        left: -90px;
    }
    .registration-form-modal-body p {
        width: 100%;
    }
    .type li {
        display: block;
        text-align: left;
        margin: 0;
    }
    .stage-wrapper p {
        margin-right: 30px;
        display: block;
        max-width: 100%;
    }
    .facilities-field {
        margin-left: 0;
    }
    .stage-wrapper .stage {
        margin-right: 15px;
    }
    .year-wrapper p {
        margin-right: 0;
        margin: 0 auto;
    }
    .year-wrapper p {
        margin: 0;
    }
    .furniture-wrapper ul {
        padding: 0;
    }
    .sorting-wrapper {
        border-top: 1px solid #444;
    }
    .sorting-wrapper p {
        max-width: 120px;
        margin: 0;
        display: block;
    }
    .furniture-wrapper {
        max-width: 100%;
        text-align: left;
        margin: 20px 0;
    }
    .sorting-wrapper p {
        display: block;
        margin-left: 0;
    }
    .sorting-wrapper ul {
        margin-left: 0;
    }
    .additional-options {
        margin: 0 auto;
    }
    .area-wrapper {
        text-align: left;
        border-top: 1px solid #444;
    }
    .area-wrapper p {
        margin: 0;
    }
    .stage-wrapper {
        text-align: left;
        margin: 20px 0;
        border-top: 1px solid #444;
        display: block;
        max-width: 100%;
    }
    .area-wrapper .area {
        margin-left: 0;
    }
    .area-wrapper .area {
        display: block;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .type-wrapper {
        display: block;
        max-width: 100%;
        width: 100%;
        text-align: left;
        margin: 10px 0 0;
        border-top: 1px solid #444;
    }
    .facilities-wrapper {
        text-align: left;
        margin: 0;
    }
    .type-wrapper p {
        margin-left: 0;
        display: block;
    }
    .area .area-field .field1 {
        width: 42%;
    }
    .area .area-field .field2 {
        width: 42%;
    }
    .area-field span {
        margin-top: -10px;
        float: right;
    }
    .area .area-field {
        margin-right: 0;
        display: block;
        height: 50px;
        padding: 15px 0;
        width: 100%;
        max-width: 100%;
    }
    .searcher-catalog {
        border-top: 1px solid #444;
    }
    .searcher-catalog .buy-field {
        width: 100%;
        margin: 10px 0 5px;
        max-width: 100%;
    }
    .button-searcher-catalog {
        max-width: 280px;
        width: 100%;
    }
    .button-searcher-catalog > p {
        display: block;
    }
    .button-searcher-catalog:before,
    .button-searcher-catalog:after {
        display: none;
    }
    .underline-wrapper-additional-options {
        display: none;
    }
    .underline-type-wrapper {
        display: inline-block;
    }
    .sorting-wrapper ul li {
        margin-left: 0;
        margin-right: 10px;
        display: block;
    }
    .stage-wrapper .stage {
        width: 100%;
        margin-left: 0;
        max-width: 100%;
        margin-right: 0;
    }
    .stage-wrapper input {
        width: 42%;
    }
    .facilities-field {
        max-width: 100%;
    }
    .underline-main-catalog {
        width: 100%;
    }
    .searcher-catalog .room-field {
        width: 75%;
        margin-right: 0;
        max-width: 100%;
    }
    .searcher-catalog .size-field {
        float: right;
        width: 20%;
        margin-right: 0;
        max-width: 100%;
    }
    .searcher-catalog .metro-field {
        display: block;
        width: 100%;
        margin: 10px 0 5px;
        max-width: 100%;
    }
    .searcher-catalog .price-field {
        margin-right: 0;
        width: 100%;
        display: block;
        max-width: 100%;
    }
    .searcher-catalog .price-field input {
        width: 42%;
    }
    .price-field span {
        margin-top: -10px;
        display: inline-block;
        float: right;
    }
    .main-map .info-main-map {
        top: 6%;
        right: 6%;
        max-width: 255px;
    }
    .main-map .info-main-map .town-info-main-map {
        margin-top: 0;
    }
    .main-map .info-main-map .adress-info-main-map {
        margin: 0;
    }
    .wrapper-leftside-footer {
        margin: 0 auto 20px;
    }
    .area-wrapper p {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    .reg-modal-footer {
        max-width: 100%;
    }
    .registration-modal-body .form-push {
        max-width: 100%;
        margin: 0 auto;
    }
    .push-modal-body .form-push p {
        max-width: 100%;
        width: 100%;
    }
    .push-modal-body .button-push {
        margin-left: 0px;
        max-width: 100%;
    }
    .details-item-info {
        border-left: none;
        border-right: none;
    }
    .navbar .container-fluid .navbar-header .main-title {
        margin: 15px 0 0 0;
        width: 55%;
    }
    .about .section-details {
        display: none;
    }
    .navbar-nav .dropdown {
        display: none;
    }
    .navbar-header .dropdown {
        display: block;
    }
    .underline {
        display: none;
    }
    .section {
        background-size: 100% 100%;
        height: 400px;
    }
    .section .section-details {
        display: none;
    }
    .section h1 {
        margin: 0 4%;
        font-size: 45px;
        padding-left: 20px;
    }
    .description {
        max-width: 210px;
        margin-left: 4%;
        font-size: 25px;
        padding-left: 20px;
        width: 100%;
        color: #434242;
    }
    .about-h2-wrapper {
        float: none;
        margin: 0 3% 5%;
    }
    .about span {
        display: block;
        margin: 20px 0 2% 3%;
        text-align: left;
        float: none;
        width: 100%;
        max-width: 234px;
    }
    .invisible-section {
        display: none;
    }
    .about .section-details {
        display: inline-block;
        margin: 5% 0;
        font-size: 13px;
        font-family: "Proximanova-bold";
    }
    .about .section-details .underline {
        margin: -1px 0 0 0;
        max-width: 100%
    }
    .contacts-wrapper img {
        float: none;
        margin-left: -14px;
        width: 108%;
    }
    .description-wrapper-about,
    .about-wrapper-h2 {
        max-width: 500px;
    }
    /*******slovo-index***/
    
    .field {
        border: none;
        padding: 5px 0 0;
        width: 49%;
        max-width: 100%;
    }
    .details-item-info .date {
        max-width: 110px;
    }
    .info .date {
        border-right: none;
    }
    .name-contacts {
        float: none;
        padding-top: 0;
        display: block;
    }
    .block-offer img {
        padding: 20px 0;
        border-top: 1px solid #e5e5e5;
    }
    .block-offer {
        padding: 0 20px;
        margin-bottom: 15px;
        border: none;
    }
    .upload-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
    .rent-wrapper,
    .hand-over-wrapper,
    .laying-over-wrapper {
        height: auto;
        border: none;
    }
    .registration-modal-body .registration-form-modal-body {
        max-width: 100%;
        margin: 0 auto;
    }
    .registration-form-modal-body p>input {
        width: 100%;
    }
    .push-modal-header h2 span {
        display: none;
    }
    .picture-rent,
    .picture-hand-over,
    .wrapper-laying-over,
    .picture-laying-over {
        display: block;
        margin: 0;
        max-width: 280px;
        width: 100%;
        float: none;
        padding: 0;
    }
    .info-rent-wrapper,
    .info-hand-over-wrapper,
    .laying-hand-over-wrapper {
        padding: 0;
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
    .wrapper-hand-over,
    .wrapper-laying-over {
        display: block;
        float: none;
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }
    .wrapper-laying-over .invisible-button-laying {
        display: inline-block;
        right: -15px;
        top: -15px;
    }
    .button-laying {
        display: none;
    }
    .wrapper-button-form-settings:before,
    .wrapper-button-form-settings:after {
        display: none;
    }
    .form-settings span {
        display: block;
    }
    .type {
        padding: 0;
        margin: 0 0 10px;
        max-width: 100%;
    }
    .navbar-default .navbar-nav>li {
        margin: 0 70px 0;
        width: 150px;
    }
    .main-nav-bar .navbar-default .navbar-nav>li>a {
        padding: 5px 0;
    }
    .navbar .collapse {
        border-top: none;
        border-bottom: 1px solid #e7e7e7;
    }
    .navbar .collapsing {
        border-top: none;
    }
    .info-block-offer {
        padding-left: 0;
        padding-top: 0;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 280px;
    }
    .title-info-block-offer {
        font-size: 20px;
    }
    .price-info-block-offer {
        font-size: 20px;
    }
    .title-info-block-offer {
        font-size: 20px;
    }
    .description-info-block-offer .field2,
    .description-info-block-offer .field3 {
        font-size: 14px;
    }
    .main-title-offer {
        border-bottom: none;
    }
    .description-info-block-offer .field1 {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .block-offer .mobile-img {
        display: block;
        width: 100%;
        max-width: 280px;
        padding: 20px 0;
        border-top: 1px solid #e5e5e5;
        margin: 0 auto;
    }
    .rent-wrapper {
        max-width: 290px;
        margin: 0 auto;
    }
    .state {
        bottom: -30px;
        right: 20px;
    }
    .sell {
        bottom: -20px;
        right: 20px;
    }
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 484px) {
    .underline-services-wrapper {
        margin-top: 15px;
        border-top: 1px solid #e6e6e6;
        margin-bottom: 25px;
        display: block;
    }
    /*notification*/
    
    .notification {
        margin-top: 70px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
    .notification p {
        font-family: "Proximanova-semibold";
        font-size: 20px;
        color: #444;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
    }
    .main-map .main-map-desktop {
        display: none;
    }
    .main-map .main-map-mobile {
        display: block;
    }
    .main-map .info-main-map p {
        margin-left: 0;
    }
    .main-map .info-main-map .town-info-main-map {
        margin-top: 20px;
    }
    .main-map .info-main-map {
        max-width: 280px;
        text-align: center;
        right: calc(50% - 140px);
    }
    .main-map .info-main-map .phone-info-main-map {
        margin: 10px 0 5px;
    }
    .main-map .info-main-map .email-info-main-map {
        margin: 5px 0 20px;
    }
    .wrapper-leftside-footer {
        margin: 0 0 20px;
    }
    .contacts .img-hide-mobile {
        display: none;
    }
    .contacts .img-hide-desktop {
        display: block;
        height: 270px;
        margin-top: 20px;
    }
    .about {
        padding: 20px 0;
    }
    .type {
        padding: 0;
        margin: 0;
    }
    .inv-stage-wrapper {
        display: none;
    }
    .underline-wrapper-additional-options {
        display: none;
    }
    .push-modal-footer .paragraph1 {
        display: block;
    }
    .push-modal-footer .paragraph4 {
        display: none;
    }
    .tabs-section .invisiblemenu-tabs-wrapper .button-invisiblemenu-tabs-wrapper,
    .tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li> a {
        margin-left: 20px
    }
    .section {
        background-position: right 105px;
        margin: 0;
    }
    .about .underline {
        margin: 35px 5px 0 0;
        width: 20px;
    }
    .services-wrapper .underline {
        width: 20px;
    }
    .contacts-wrapper .underline {
        width: 20px;
    }
    .section h1 {
        display: none;
    }
    .navbar-header .dropdown .caret {
        display: none;
    }
    .description span {
        color: #f3f3f3;
    }
    .footer-title {
        display: block;
        text-align: center;
    }
    footer .underline {
        display: none;
    }
    .footer-list li {
        text-align: center;
        width: 100%;
        display: inline-block;
    }
    .invisible-block {
        display: none;
    }
    .services-wrapper .description-services {
        display: none;
    }
    .contacts-wrapper form input {
        max-width: 410px;
        margin: 0 5px 10px 0;
    }
    .social-icons {
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
    }
    .services .services-wrapper {
        margin: 0 auto 20px;
        max-width: 500px;
    }
    .about h2 {
        font-size: 30px;
        max-width: 240px;
    }
    /*******slovo-index***/
    
    .info-rightside-catalog .hide-info-right-side-catalog {
        display: none;
    }
    .name-wrapper-catalog {
        font-size: 25px;
    }
    .info-rightside-catalog {
        margin-top: 20px;
    }
    .catalog .underline {
        margin: 0 0 10px 0;
        width: 20px;
    }
    .invisible-wrapper-catalog {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .invisible-wrapper-catalog >a {
        color: #fff;
        font-family: "Proximanova-semibold";
        font-size: 16px;
        border-bottom: 2px solid #b28500;
    }
    .parametrs-searcher-catalog {
        display: none;
    }
    .modal-footer .save {
        display: none;
    }
    .registration-modal-content .registration-modal-footer {
        border-top: none;
    }
    .enter-registration-modal-header {
        font-size: 16px;
        padding-top: 9px;
        font-family: "proximanova-bold";
        color: #b28500;
    }
    .registration-modal-header h2 {
        font-size: 30px;
    }
    .modal-dialog .registration-modal-content {
        padding: 20px;
        margin-top: 75px;
    }
    .registration-modal-header .cancel-button {
        right: 15px;
        top: 18px;
    }
    .push-modal-content .push-modal-header .cancel-button {
        right: 20px;
        top: 15px;
    }
    .registration-modal-header .underline {
        width: 17px;
    }
    .registration-form-modal-body span {
        display: none;
    }
    .registration-form-modal-body p {
        margin: 10px 0 5px 0;
        width: 100%;
    }
    .reg-modal-footer {
        margin-top: 0;
    }
    .registration-modal-content .registration-modal-body {
        margin-bottom: 0;
    }
    .registration-form-modal-body span .condition {
        width: 140px;
        left: 127px;
        top: -14px;
    }
    .registration-modal-header h1>span {
        display: none;
    }
    .forget-modal-header h1 {
        font-size: 29px;
    }
    .map {
        height: 200px;
    }
    .contacts-wrapper h2 {
        font-size: 30px;
    }
    .services-wrapper h2 {
        padding-top: 0;
        font-size: 30px;
        margin: 30px 0 20px;
    }
    .rent-wrapper,
    .hand-over-wrapper {
        border: none;
    }
    .wrapper-hand-over {
        width: 100%;
    }
    .sectionwrapper-hand-over {
        border: none;
    }
    .input-wrapper .invisible-block {
        display: block;
    }
    .input-wrapper .invisible-block h3 {
        font-size: 20px;
        font-family: "proximanova-semibold";
        padding-top: 20px;
        border-top: 1px solid #eeeeee;
    }
    .searcher-catalog .buy-field {
        width: 100%;
    }
    .contacts-details-info {
        padding: 5px 0 0;
    }
    .enter-modal-content .enter-modal-footer {
        padding: 15px 0;
        border-top: none;
    }
    .enter-modal-footer .field1 {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #eeeeee;
        max-width: 280px;
    }
    .push-modal-body .form-push span {
        position: absolute;
        margin-top: 15px;
    }
    .wrapper-button-form-settings:before,
    .wrapper-button-form-settings:after {
        display: none;
    }
    .contacts-wrapper form textarea {
        max-width: 410px;
    }
    .enter-modal-footer .field2 {
        max-width: 260px;
    }
    .modal-content .registration-modal-footer,
    .modal-content .registration-modal-body,
    .modal-content .registration-modal-header {
        padding: 15px 0;
    }
    .registration-form-modal-body p>input {
        width: 100%;
    }
    .underlin-wrapper-additional-options {
        display: none;
    }
    .wrapper-h1-main-panel .balance-wrapper {
        display: none;
    }
    .underline-rent-wrapper {
        display: block;
    }
}
@media only screen and (max-width: 427px) {
    .navbar .container-fluid .navbar-header .main-title {
        font-size: 20px;
        margin: 20px 0 0 0;
    }
}
/*******slovo-index***/

@media only screen and (max-width: 375px) {
    .navbar-header .dropdown {
        padding: 10px 20px;
    }
}
/*******slovo-index***/