

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	
}

@media only screen and (max-width : 1024px) {

.navbar-nav .dropdown,
.main-nav-bar .navbar-default .navbar-nav>li>a{
	font-size: 13px;
}

.wrapper-button-form-settings{
	width: 100%;
}

.button-form-settings{
	margin-right:  5px;
}

}



/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

.type{
	margin-left: 25px;
}
.check-field1{
	margin-right: 50px;
}
.contacts .left-picture {
    float: none;
}

	.contacts img{
		float:none;
	max-width: 513px;
	width:100%;
    margin: 0 auto;
    display: block;
	}

	.invisible-date-info-block-offer{
    display:inline-block;
    float:right;
}

.tabs-section .invisiblemenu-tabs-wrapper{
	display: block;
}

.date-info-block-offer{

	display:none;
}
.tabs-navi{
	display:none;
}

.collapse .navbar-right {
    width: 68%;
}

.collapse .navbar-nav .login .dropdown{
	
	padding: 6px 13px;
	font-size: 12px;
	margin-right: -20px;
	margin-top: 5px;
}	
	.main-nav-bar .navbar-default .navbar-nav>li>a{
		padding-right: 9px;
		font-size: 12px;
		font-family: "proximanova-bold";
	}

	.main-nav-bar .navbar-default .navbar-nav .dropdown .dropdown-toggle{

	border: 2px solid  #ca870e;

}

.about-h2-wrapper{

		float: none;
    	margin: 0 auto 2%;
    	height:76px;
	}

.about span{
	display: inline-block;
    margin: 20px 0 2% 31%;
    text-align: left;
}

.about .comments-about{

	display:none;
}

.about h2{

	
	float:none;
}

.services-wrapper h2{
	padding-top: 30px;
}
.services{
	height: auto;
}

.about .description-wrapper-about .invisible-block{


    display:inline-block;
    margin:20px 0;
    text-align:left;

}

.about .commentaries{

	display:none;
}
.description-wrapper-about{
	max-width: 500px;
    display: block;
    margin: 6% auto 0;
    
}

.about-picture{
	display: block;
	margin: 0 auto;
}

.contacts-wrapper img{
	float:none;
	max-width: 513px;
	margin: 0 auto;
	display:none;
}
.contacts .invisible-block,
.contacts .invisible-block img{
	display: block;
	max-width: 513px;
	margin: 0 auto;
}

.contacts-wrapper{
	
    margin: 2% auto;
    max-width: 513px;
    width: 100%;
}

.services-wrapper{
	max-width: 500px;
	margin: 35px auto;
}
.about-wrapper-h2{
	max-width: 500px;
	text-align: left;
    margin: 0 auto;
}

.wrapper-leftside-footer {
    
    margin: 0 auto;
    max-width: 415px;
}
.footer-list{

	max-width: 580px;
	margin: 0 auto;
}
.services-wrapper img{
    	max-width: 500px;
    }

/*******slovo-index***/

	.block-offer img{
		width:100%;
	}

	.info-block-offer{
		padding-left: 0;
		margin-top: 5px;
		max-width: 100%;
		width: 100%;
		height:auto;
	}

	.date-info-block-offer{

		float:right;
	}

	.block-offer:nth-child(n+3) {
    border-top: 1px solid #e5e5e5;
}
	.block-offer{
		border:none;
		padding: 15px 0;
		border-top: 1px solid #e5e5e5;
		
	}
	.description-info-block-offer{
		height:auto;
	}
	.info-rightside-catalog{
		margin-right: 0px;
	}

	.input-wrapper{
		display:block;
		float:none;
	}

	.form-settings{
		text-align: center;
	}

	.upload-wrapper .figure{
		width: 250px;
		height: 250px;
	}
	.upload-wrapper p{
		max-width: 300px;
		text-align: center;
		padding-left: 0;
	}

	 .input-wrapper p span{
		text-align: left;
	}

	.modal-dialog .registration-modal-content{
		height: auto;
	}

	.type-wrapper {
    display: block;
    max-width: 350px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.type-wrapper p{
	margin-left: 0;
}

.facilities-wrapper p{
	margin-left: 0;
	display:block;
}
.check-field2{
	float:none;
}
.stage-wrapper {
    display: block;
    margin: 20px auto;
    max-width: 300px;
}
.type ul {
   
    padding: 0;
}
.type li{
	display:inline-block;
	text-align: left;
}


.stage-wrapper p {
    
    margin-right: 30px;
}
.facilities-wrapper{
	text-align: center;
}
.facilities-field{
	margin-left:0;
}
.stage-wrapper .stage{
	margin-right: 15px;
}
.year-wrapper p{
	margin-right: 0;
	margin: 0 auto;
}
.furniture-wrapper {
    max-width: 260px;
    text-align: left;
    margin: 10px auto;
}
.sorting-wrapper p{
	display: inline-block;
	margin-left: 80px;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {


.area-wrapper .area {

    display: inline-block;
    padding: 0;
    max-width: 260px;
    margin: 0;
}
.area-wrapper p{
    display: block;
    margin: 0 auto;
}
	
	.registration-modal-body .form-push{
    max-width: 280px;
    margin: 0 auto;
}
.push-modal-body .button-push{
	float:none;
}


.details-item-info {

	border-left:none;
	border-right: none;
	}

	.navbar .container-fluid .navbar-header .main-title{
	margin: 3% 0 0 0;
	width: 55%;
	}

	.about .section-details{
		display:none;
	}

	.navbar-nav .dropdown{

		display:none;
	}

	.navbar-header .dropdown{

		display:block;
	}

	.underline{
		display:none;
	}

	.section{
		background-size: 100%;
		height:400px;
	}
	.section .section-details{
		display:none;
	}
	.section h1{
		margin:0 4%;
		font-size: 45px;
		padding-left: 20px;
	}

	.description{
		max-width: 210px;
		margin-left: 4%;
		font-size: 25px;
		padding-left: 20px;
		width:100%;
		color:#434242;
	}

	.about-h2-wrapper{

		float: none;
    	margin: 0 3% 5%;
	}

.about span{

	display: block;
    margin: 20px 0 2% 3%;
    text-align: left;
    float:none;
    width: 100%;
    max-width: 234px;
}
	

.footer-list{
	padding:0;
	margin-left: 3%;
}
.invisible-section{
    display:none;
}

.footer-list{

		display:none;
	}

.about .section-details{
		display:inline-block;
		margin: 5% 0;
		font-size:13px;
		font-family:"Proximanova-bold";
	}

	.about .section-details .underline{
		
		margin: -1px 0 0 0;
		max-width: 100%
	}
	.contacts-wrapper img{
		float:none;
		margin-left: -14px;
		width: 108%;
	}
	.description-wrapper-about,
	.about-wrapper-h2{
	    max-width: 500px;
	
    }
    

/*******slovo-index***/
.field{
 	border:none;
 	
 }

.info .date{
	border-right: none;
}
.name-contacts{
	float:none;
	padding-top: 0;
	display:block;

}
.block-offer img{
	border-top:1px solid #e6e6e6;
	padding-top: 25px;
}
.block-offer:nth-child(odd){

    border-right:none;
}
.block-offer{
	padding: 0;
	border:none;
	margin-bottom:  15px;
}
 
 .upload-wrapper{
 	width: 100%;
 }
 .rent-wrapper,
 .hand-over-wrapper,
.laying-over-wrapper{
 	height:auto;
 }

 .registration-modal-body .registration-form-modal-body{
 	max-width:280px;
 	margin: 0 auto;
 }
 .push-modal-header h1 span{
 	display:none;
 }
 .picture-rent,
	.picture-hand-over,
	.wrapper-laying-over,
	.picture-laying-over{
		display:block;
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
    float: none;
	}
	.info-rent-wrapper,
.info-hand-over-wrapper,
.laying-hand-over-wrapper{
	padding:  0 15px;
	display:block;
}
.wrapper-hand-over,
.wrapper-laying-over {
	display: block;
	float: none;
	max-width: 280px;
	width: 100%;
	margin: 0 auto;
}
.wrapper-laying-over .invisible-button-laying{
    display:inline-block;
    right: 0;

}
 .button-laying{
	display:none;
}
.wrapper-button-form-settings:before,
.wrapper-button-form-settings:after{
	display:none;
}
.form-settings span{
	display:block;
	width:100%;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 484px) {

	.type{
	padding:0;
	margin:0;
}

	.additional-options {
    max-width: 290px;
    margin: 0 auto;
}

	.area-wrapper{
	text-align: left;
}
.area-wrapper p{
	margin: 0;
}
.stage-wrapper {
    text-align: left;
    margin:0;
    
}
.inv-stage-wrapper{
	display:none;
}

.type-wrapper {
    display: block;
    max-width: 245px;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    border-top: 1px solid #444;
}
.facilities-wrapper {
    text-align: left;
}

.year-wrapper p{
	margin:0;
}
.furniture-wrapper{
	margin: 10px 0;
}
.furniture-wrapper ul{
	padding: 0;
}
.sorting-wrapper p{
	margin-left: 0;
}

	.push-modal-footer .paragraph1{
    display:block;
}
.push-modal-footer .paragraph4{
	display:none;
}
	
	.tabs-section .invisiblemenu-tabs-wrapper .button-invisiblemenu-tabs-wrapper,
	.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li> a{
		margin-left: 20px
	}

	.section {

		background-position: right 105px;
		margin:0;
	}
	
	.about .underline{
		margin: 35px 5px 0 0;
	}
	.section h1{
		display:none;
	}
	.navbar-header .dropdown .caret{
		display:none;
	}
	.description span{
		color:#f3f3f3;
	}

	
	.footer-title{

		display:block;
		text-align: center;
	}

	footer .underline {
		display:none;
	}
	
	.invisible-block{
		display:none;
	}

	.services-wrapper .description-services{
		display:none;
	}

	.contacts-wrapper  form input{
		max-width: 410px;
		margin: 0 5px 10px 0;
	}

	
	.social-icons{

		width:100%;
		margin: 0;
		display:block;
		text-align: center;
	}

.services-wrapper{
	max-width: 500px
}
.about h2 {
    font-size: 30px;
}

/*******slovo-index***/
.info-rightside-catalog .hide-info-right-side-catalog{
    display: none;

}
.price-field input {
    width: 82px;
}
.wrapper-catalog{
	border-bottom: 1px solid #444444;
}
.name-wrapper-catalog{
	font-size: 34px;
}
.info-rightside-catalog{
	margin-top: 27px;
}

.invisible-wrapper-catalog{

	display:block;
	text-align: center;
	margin-top: 10px;

}

.invisible-wrapper-catalog >a{
	
    color: #fff;
    font-family: "Proximanova-semibold";
    font-size: 16px;
    border-bottom: 2px solid #b28500;
}

.parametrs-searcher-catalog{
	display:none;
}
.button-searcher-catalog  {

    	display:none;
    }

.modal-footer .save{

	display:none;
}
 
 .registration-modal-content .registration-modal-footer{

    border-top: none;
}

.enter-registration-modal-header{
	font-size: 16px;
	padding-top: 10px;
    font-family: "proximanova-bold";
    color: #b28500;
}

.registration-modal-header h1{
	font-size:  30px;
	
}

.modal-dialog .registration-modal-content{
	padding: 20px;
	margin-top:  75px;
}

.registration-modal-header .cancel-button{
	right: 15px;
	top: 18px;
}

.push-modal-content .push-modal-header .cancel-button{
	    right: 20px;
    top: 15px;
}


.registration-modal-header .underline{
	width: 17px;
}
.registration-form-modal-body span{
	display:none;
}
.registration-form-modal-body p{
	margin: 10px 0 5px 0;
	width: 100%;
}

.reg-modal-footer{
	margin-top:  0;
}
.registration-modal-content .registration-modal-body {
	margin-bottom:  0;
}

.registration-form-modal-body span .condition {
     width: 140px;
 
    left: 127px;
    top: -14px;
}
.registration-modal-header h1>span{
	display:none;
}
.forget-modal-header h1{
	font-size: 29px;
}

.map{
	height:200px;
}
.contacts-wrapper h2{
		font-size: 30px;
	}

	.services-wrapper h2 {
     padding-top: 0;
     font-size: 30px;
}
	
	.rent-wrapper,
	.hand-over-wrapper{
		border:none;
		border-bottom: 1px solid #eeeeee;
	}
	.wrapper-hand-over{
		width:100%;
	}
	.state{
		left: 150px;
	}
	.sectionwrapper-hand-over{
		border:none;
	}
	
.input-wrapper .invisible-block{

    display:block;
}
.input-wrapper .invisible-block h3{ 
    font-size: 20px;
    font-family: "proximanova-semibold";
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}
.input-wrapper p span{
	position:absolute;
	margin: 25px 0 0 0;
	max-width: 298px;
}
.form-settings input{
	margin: 10px 0;
	
}
.input-wrapper p .condition{
	left: 135px;
    width: 146px;
    
}

.searcher-catalog{
		text-align: left;
		display:none;
	}

	.contacts-details-info{
		border-bottom: 1px solid #eeeeee;
	}

	.enter-modal-content .enter-modal-footer{
		padding: 15px 0;
		border-top:  none;
	}
	.enter-modal-footer .field1{

	margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eeeeee;
    max-width: 280px;

	}

	.push-modal-body .form-push span{
		position:absolute;
		margin-top: 15px;
	}
	.wrapper-button-form-settings:before,
.wrapper-button-form-settings:after{
	
	display:none;
}
.contacts-wrapper form textarea{
	max-width: 410px;

}
.enter-modal-footer .field2{
	max-width: 260px;
}
.modal-content .registration-modal-footer,
.modal-content .registration-modal-body,
.modal-content .registration-modal-header{
	padding: 15px 0;
}
.registration-form-modal-body p>input{
	max-width: 280px;
	width: 100%;
}

.underlin-wrapper-additional-options{
	display:none;
}
}
@media only screen and (max-width : 427px) {
	
   .navbar .container-fluid .navbar-header .main-title{

		font-size: 20px;
	}

}

/*******slovo-index***/

@media only screen and (max-width : 375px) {

	
	.navbar-header .dropdown{

		 padding: 10px 20px;
		 
	}

	
	
}

/*******slovo-index***/