body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

header .main-nav-bar nav{
	margin-bottom: 0;
	padding-bottom: 20px;
	background-color: #f5f5f5;
	border:none;
}
.navbar-header {
    height: 70px;
}
.navbar .collapse{
	width:100%;
}

.underline{

	margin: 0 0 0 -15px;
	border:1px solid #b28500;
    
}



.main-nav-bar .navbar-default .navbar-nav>.phone-field>a {
 color:#b28500;
 padding: 15px 0;
}

.navbar-default .navbar-nav>li{

    margin: 32px 0 0;
}
.main-nav-bar .navbar-default .navbar-nav>li>a{

    color: #444444;
    font-family: "Proximanova-semibold";
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 18px;

}
.navbar-header .dropdown{
	display:none;
	position: relative;
    float: right;
    list-style: none;
    padding: 10px 25px;
    border: 2px solid  #b28500;
	border-right: none;
    padding: 10px 25px;
    margin-top: 5%;
    font-weight:bold;
    text-transform: none;
    color: #434242;
}

.navbar-header .dropdown .caret,
.dropdown .caret{
	color: #b28500;
}
.navbar-nav .dropdown-menu{

    top:72%;
}



.navbar-header .dropdown-menu{

    right: 0;
    top:72%;
}

.navbar-default .navbar-header .navbar-toggle{

	float:left;
	margin: 4% 0 0 4%;
	border-color: rgba(255, 255, 255, 0);
	padding: 22px 1%;
	height: 42px;
}
.main-nav-bar .navbar-default .navbar-toggle .icon-bar{

	width: 26px;
    height: 3px;
    background-color: #b28500;
}

.navbar-default .navbar-header .navbar-toggle:focus, .navbar-default .navbar-header .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0);
}
.navbar .container-fluid .navbar-header .main-title{
	
	font-size: 25px;
    margin: 7% 0 0 35px;
    padding: 22px 0 0;
    color: #434242;
    font-family: "Proximanova-semibold";
    width: 100%;
    line-height: normal;
}
.dropdown-toggle:hover,
.dropdown-toggle{

	color:#333;
	text-decoration:none;
}

.navbar-nav .nav>li{

	padding: 7px 0 0 0;
	height:40px;
	margin-top:2%;
	
}

.main-nav-bar .navbar-default .navbar-nav .nav>li>a{
	padding: 10px 15px 0 0;
	text-transform:uppercase;
	color: #434242;
    font-weight: bold;
}

.collapse .navbar-right{
	width: 67%;
}

.navbar-right .nav {

	width:100%;
}

.navbar-nav .login{

    float: right;
}

.collapse .navbar-nav .login .dropdown{
    position: relative;
    
    list-style: none;
    padding: 10px 25px;
    border: 2px solid #b28500;
    border-right: none;
    padding: 10px 20px;
   
    font-weight: bold;
    text-transform: none;
    color: #444444;
    font-family: "Proximanova-bold";
    font-size: 14px;
    margin-right: -15px;
}

}

.main-nav-bar .navbar-default .navbar-nav .dropdown .dropdown-toggle{
	border: 2px solid  #b28500;
	border-right: none;
    padding: 10px 25px;
    margin-right: -15px;
    text-transform: none;
    color: #434242;
    
}

.main-nav-bar .navbar-default .navbar-nav .dropdown .dropdown-toggle .caret{

	color: #b28500;
}

/*************************Navigation************************/

.main-description-wrapper{

	margin: 50% 0;
}

.section{
background-image: url(../img/main-bg.png);
    background-size: 65% 100%;
    background-repeat: no-repeat;
    height: 600px;
    background-position: right;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 5%;
    
}

.section h1{
	display: inline-block;
    margin: 12% 0 0 31px;
    font-size: 54px;
    color: #b28500;
    font-family: "Proximanova-regular";
}

.description {

    font-size: 22px;
    max-width: 350px;
    font-family: "Proximanova-regular";
    color: #444444;
    margin-left: 35px;
}

.section-details,
.section-details:focus,
.section-details:hover{
	display: inline-block;
    color: #434242;
    font-size: 13px;
    font-family:"Proximanova-bold";
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px 0 0 35px;
}

.services .section-details{
    margin: 20px  0 0 0;
}

.section-details .underline{

	margin: -2px 0 0 0;
}

/*********section**********/


.about-h2-wrapper{



}

.about h2{
	
	text-align: left;
    font-size: 38px;
    max-width:259px;
    display:inline-block;
    float:right;
    font-family: "Proximanova-regular";
    color: #444444;

}
.about-wrapper-h2
 {
    text-align: right;
    margin: 0 -25px 0 0;
}

.about .about-h2-wrapper .underline{
	
	margin: 20px 0 20px 0;
    border: 1px solid #ca870e;
    display: inline-block;
    
    
}

.description-wrapper-about{

        display: inline-block;
        max-width: 416px;
        margin-left: 6%;
        margin-top:6%;
}
.about .description-wrapper-about .underline{

    margin: 20px 0 40px;
    display: block;
    max-width: 40px;
    width: 100%;
}

.about .commentaries{
	display: inline-block;
    font-style: italic;
    color: #b28500;
    text-align: right;
    font-size: 13px;
    width: 100%;
    max-width: 194px;
    font-family: "Proximanova-bold";
    margin-left: -6%;
    vertical-align: text-bottom;
    margin-bottom: 115px;
    
}

.about .section-details{

	display:none;
}


.description-about {

	width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #888888;
    text-align: left;
    font-family: "Proximanova-semibold";
}




 .about .underline{

	margin: 40px 5px 0 0;
    display: inline-block;
    vertical-align: top;
    width:22px;
   
}

.about-picture{

	
    margin: 5% 0 0 6%;
    width:100%;
    max-width: 500px;
}
.comments-about{

    line-height: 482px;
    float:left;
}



.details{
	display:none;
	font-size: 14px;
    margin: 3% 0;
}

.details > a{
	color: #000;
}
.details .underline{

	margin:-2px 0;
}

.services{

	background-color: #f3f3f3;
    height: 1100px;
	
}

.services-wrapper {
    width: 100%;
    margin: 55px auto;
}
.services-wrapper h2 {

   font-family: "Proximanova-regular";
    font-size: 40px;
    color: #444444;
    display: inline-block
}

.services-wrapper img {

	width:100%;
	max-width: 417px;
    height:auto;
    display:block;

}
.wrapper-leftside-footer {
    text-align: right;
}

.description-services {

    
    font-size: 22px;
    font-family:"Proximanova-regular";
    width:100%;
    max-width:363px;
    color: #444444;
}

.services-wrapper .underline {
    margin: -3px 5px 15px 0;
    display: inline-block;
    vertical-align: middle;
    width:25px;
}

.services-wrapper h2 .underline{

    
    width:25px;
}

{
    margin: 2% 13%;
    display: inline-block;
}
.underdescription-services .underline{

    display: block;
}



.section-details .underline{

	display:block;
    width: 100%;
    color: #444444;
}

.services-wrapper h3{
    font-size: 22px;
   font-family: "Proximanova-regular";
   color: #444444;
   display:inline-block;
   border-bottom: 2px solid #b28500;
}

.services-info {
    
    font-size: 16px;
    font-family: "Proximanova-semibold";
    color: #888888;
    width:100%;
    max-width:420px;
    margin-top:25px;
}

.services-wrapper h3 .underline{
    margin: 0;
    display:block;
    width: 100%;
    color: #444444;
}

.contacts-wrapper h2{
    display:inline-block;
	font-size: 38px;
	font-family: "Proximanova-regular";
    color: #444444;
}

.contacts-wrapper .underline{

	margin: 0 5px 12px 0;
	display: inline-block;
	vertical-align:middle;
    display:inline-block;
    max-width: 22px;
    width:100%;
}

.contacts-wrapper p{

	font-size: 16px;
    display: inline-block;
   font-family: "Proximanova-semibold";
    max-width: 465px;
    margin: 3% 0;
    color: #888888;

}

  .contacts-wrapper  form {
    margin: 3% 0 0 0;
    width:100%;
    max-width: 465px;

    
}

.contacts-wrapper  form input{

	width: 100%;
    max-width: 216px;
    height: 50px;
    font-size: 15px;
    font-family: "Proximanova-semibold";
    color: #888888;
    background-color: #f3f3f3;
    margin: 5px 5px 10px 0;
    outline:none;
    padding: 15px;
}
  

.contacts-wrapper .field{

    border:none;
}

.contacts-wrapper .button{
    background-color: #b28500;
    color: #fff;

}

.contacts-wrapper  form textarea{

	width: 100%;
	max-width: 438px;
	background-color: #f3f3f3;
	border:none;
    color: #888888;
    font-size: 16px;
    outline:none;
    font-family: "Proximanova-semibold";
    padding: 15px;
}

.contacts-wrapper img{

	display:block;
	float:right;
    max-width: 513px;
    width:100%;
    margin-right: -52px;
}

 .description-wrapper-about .invisible-block{


    display:none;

}

.contacts .invisible-block {

	display:none;
}
.contacts .invisible-block img{

	width:100%;
	max-width: 410px;
}


.footer-title{
	
	display: inline-block;
    font-family: "Proximanova-semibold";
    font-size: 16px;
    color: #747474;
    vertical-align:  -4px;
    margin-top: 3%;

}


footer{

	margin: 2% 0;
}

footer .underline{
	display:inline-block;
	margin: 0 1% 0;
    max-width: 17px;
    width: 100%;
    
}


.social-icons{

	display:inline-block;
	margin-left:  4%;
}
.social-icons i{

	display: inline-block;
    border: 1px solid #b28500;
    border-radius: 50%;
    font-size: 13px;
    width: 30px;
    height: 30px;
    padding-top: 8px;
    padding-right: 1px;
    background-color: #b28500;
    color: white;
    text-align: center;
}



.footer-list li{

	list-style: none;
    display: inline-block;
    margin: 2% 15px 1% 0;
    font-weight: bold;
}
.footer-list li>a{
	    color: #565656;
    text-decoration: none;
    font-size: 16px;
    font-family: "Proximanova-semibold";
}

/*******slovo-index***/

.catalog .underline{

    display: inline-block;
    vertical-align: middle;
    width: 25px;
    margin:  0 0 15px 0;
}

.name-wrapper-catalog{
    font-size: 40px;
    color: #fff;
    display: inline-block;
    font-family: "Proximanova-regular";
    margin-top: 20px;
}
.catalog{

    background-color: #333333;
}
.info-rightside-catalog {
    color: #fff;
    font-family: "Proximanova-semibold";
    font-size: 15px;
    margin-top: 32px;
    display: inline-block;
    float: right;
}

.wrapper-catalog {
    max-width: 940px;
    margin: 0 auto;
}
.info-rightside-catalog .number-info-rightside-catalog{
    margin: 0 5px;
    text-decoration: underline;
    font-size: 22px;
    color: #b28500;
}

.searcher-catalog{
    
    margin: 2% auto;
    text-align: center;
    padding: 0;
}
.searcher-catalog li{
    display:inline-block;
    list-style:none;
    background-color: #444444;
    font-family: "Proximanova-semibold";
    padding:15px;
    font-size: 15px;
    color:#fff;
    margin: 10px 10px 5px 0;
    height:50px;

}
.searcher-catalog li select{

    border: none;
    background-color: #444444;
    color: #fff;
    outline: none;
    width: 100%;
}

.searcher-catalog li select option{

    outline:none;
}
 .buy-field,
 .room-field{
    
    width: 150px;
    height: 50px;
}

.size-field input{
    width: 60px;
    color: #fff;
    height: 24px;
    display: inline-block;
    background-color: #444444;
    border: none;
    outline: none;
}



.metro-field input{
    width: 165px;
    color: #fff;
    height: 24px;
    display: inline-block;
    background-color: #444444;
    border: none;
    outline: none;
}
.searcher-catalog .price-field{

    padding: 15px 6px 15px 0;
}

.price-field input{

   width: 127px;
    color: #fff;
    height: 24px;
    display: inline-block;
    background-color: #444444;
    border: none;
    outline: none;
    padding-left: 20px;
}

.price-field span{
    padding: 10px 15px;
    background-color: #555555;
}
.price-field .field1{
    border-right: 1px solid #555555;
}

.invisible-wrapper-catalog{

    display:none;
}

.parametrs-searcher-catalog {
    margin: 3% 0;
    text-align: center;
}
 .parametrs-searcher-catalog > a {
    color: #fff;
    font-family: "Proximanova-bold";
    font-size: 16px;
    border-bottom: 2px solid #b28500;
   }

.button-searcher-catalog{
    overflow:hidden;
    margin: 0 auto 20px;
    text-align: center;
    max-width: 935px;
}
.button-searcher-catalog:before,
.button-searcher-catalog:after{
    content: '';  
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
    background: #444444;
    border: solid #333333;
  border-width: 0 10px;
    
}
.button-searcher-catalog:before{

     margin-left: -100%;
}

.button-searcher-catalog:after{

     margin-right: -100%;
}

.button-searcher-catalog > p {
    display: inline-block;
    background-color: #b28500;
    padding: 15px 50px;
    }
 .button-searcher-catalog > p> a   {
    
    font-family: "Proximanova-bold";
    color: #fff;
    font-size: 15px;
    }
.offer{
    background-color: #f5f5f5;
}
.wrapper-offer{
    max-width: 934px;
    margin: 0 auto;
    text-align:center;
    }

.main-title-offer {
    margin-top: 3%;
}

.phrase-offer {
    font-family: "Proximanova-regular";
    font-size: 22px;
    color: #444444;
    text-align: center;
}
.number-offer{
    color: #b28500;
}

.block-offer {
    
    display: inline-block;
    padding: 20px;
    border: 1px solid #e6e6e6;
    margin-left:-3px;
    max-width: 470px;
}

.block-offer:nth-child(odd){

    border-right:none;
}
.block-offer:nth-child(n+3){

    border-top:none;
}

.info-block-offer{
    display: inline-block;
    padding-left: 20px;
    max-width: 224px;
    vertical-align: top;
    text-align:left;

}

.title-info-block-offer {
    font-family: "Proximanova-semibold";
    font-size: 19px;
    color:#444444;
    margin:0;
    
}
.title-info-block-offer sup{
        font-size: 13px;
        font-family: "Proximanova-bold";
}

.description-info-block-offer{

    font-family: "Proximanova-bold";
    color:#878787;
    margin:  5px 0;
}
.field1 {
    display: block;
    font-size: 16px;
}

.field2,.field3{
    display:block;
    font-size: 13px;
}
.figure {
    border: 2px solid #ff0000;
    border-radius: 50%;
    width: 10px;
    display: inline-block;
    height: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 5px;
}

.price-info-block-offer{

    font-family: "Proximanova-semibold";
    margin: 8px 0;
    font-size: 19px;
    color: #b28500;

}

.date-info-block-offer{

    font-family: "Proximanova-bold";
    font-size: 14px;
    margin: 0;
    color: #cbcbcb;
}

 
 .modal .modal-dialog {
    float: right;
    margin: 0;
    max-width: 715px;
    width: 100%;
    z-index: 1040;
}

.map{

    
    width:100%;
}
.details-item-info .date{

    max-width: 136px;
}
.gallery {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
.gallery img{

    max-width: 100px;
    margin: 5px;
}
.contacts-details-info {
    padding: 15px 10px;
    border-top: 1px solid #eeeeee;
     
}
.modal-body .underline-modal-body{
    border: 1px solid #eeeeee;
    width: 35px;
    display: block;
    margin: 20px 11px;
}

.details-item-info {
    border-bottom: 1px solid #eeeeee;
    }

.phone-contacts {
    font-family: "Proximanova-regular";
    font-size: 25px;
    color: #444444;
}
.name-contacts {
    float: right;
    font-family: "proximanova-semibold";
    font-size: 17px;
    padding-top: 8px;
    color: #444444;
}

.status-name-contacts {
    font-family: "proximanova-bold";
    color: #ababab;
}

.field {
    padding: 15px;
    border: 1px solid #eeeeee;
    border-right: none;
    display: inline-block;
    width: 100%;
    max-width: 105px;
   
}
.info .date{

    max-width: 137px;
    border-right: 1px solid #eee;
}

.firstrow-field-info {
    font-family: "proximanova-regular";
    color: #b28500;
    font-size: 25px;
    display: block;
    height:30px;

}

.modal-body .cancel-button{

    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #000000;
    border-radius: 50%;
    background-color: #fff;
    height: 30px;
    width: 35px;
    opacity: 1;
    border: none;
}

.firstrow-field-info sup{

    top: -0.9em;
    font-size: 11px;
}

.secondrow-field-info {
    display: block;
    font-family: "Proximanova-bold";
    color: #444444;
    font-size: 15px;
}

.details-modal-body {
    font-size: 16px;
    font-family: "proximanova-semibold";
    color: #888888;
    padding-left:  10px;

}

.modal-content h4{
    font-size: 20px;
    font-family: "Proximanova-semibold";
    color: #444444;
    margin-bottom: 5px;
    padding: 0 10px;
    margin-top: 20px;
}

.modal-content .details-modal-footer{
    background-color:#333333;
    color:#fff;
    text-align:left;
}

.modal-footer span{
text-transform: uppercase;
    font-family: "Proximanova-bold";
    font-size: 13px;
    margin: 20px;
    border-bottom: 2px solid #b28500;
}

.modal-footer select{
    text-transform:uppercase;
    background-color: #333333;
    border:none;
    border-bottom: 2px solid #b28500;
}

.registration-modal-header .underline{

    margin: 0 5px 15px 0;
    border: 2px solid #b28500;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border:2px solid #b28500;
}

.registration-modal-header h1{

    font-size: 40px;
    font-family: "Proximanova-regular";
    margin: 0 0 20px 0;
    color: #444444;
    display:inline-block;
}

.enter-registration-modal-header{

    color: #444444;
    text-decoration: none;
    font-size: 22px;
    font-family: "Proximanova-regular";
    float: right;
    padding-top: 15px;
}

.modal-dialog .registration-modal-content{

        padding: 50px;
        border:none;
        border-radius:0;
        height: 100vh;
}

.registration-modal-header .cancel-button{
    position: absolute;
    right: 15px;
    top: 20px;
    opacity: 1;
    font-size: 18px;
}

.registration-modal-content .registration-modal-body{

    padding:0;
    margin-bottom:  20px;
}

.registration-form-modal-body .obligatory,
.push-modal-body .form-push .obligatory{

    display: inline-block;
    margin: 0 0 0 5px;
    color: #ff0000;
}

.registration-form-modal-body p{

display: inline-block;
margin-left: 15px;
margin-top: 20px;
color:#858585;
}

.registration-form-modal-body span{
    display:block;
    font-family: "Proximanova-semibold";
    font-size: 15px;
}
   .registration-form-modal-body p>input{
    width: 264px;
    height: 50px;
    border: none;
    background-color: #f5f5f5;
}

.registration-form-modal-body span .condition{

    float:right;
    font-size: 13px;
    font-family: "proximanova-bold";
    color: #b9b9b9;
}



.registration-modal-content .registration-modal-footer{

    text-align:center;
}
.registration-form-modal-body p:nth-child(odd){

    margin-right: 40px;

}

.reg-modal-footer{

    border: none;
    padding: 15px 57px;
    background-color: #b28500;
    color: #fff;
    font-family: "Proximanova-bold";
    font-size: 15px;
    margin-top: 15px;

}

.check-modal-body .field1{

    display: block;
    font-size: 22px;
    font-family: "proximanova-regular";
    color: #444444;
    margin-top: 10px;
     margin-bottom: 60px;

}

.check-modal-body .field2{
    font-family: "proximanova-semibold";
    font-size: 16px;
    color: #444444;
    border-bottom: 2px solid #b28500;
    display: inline;
}

.modal-dialog .push-modal-body{

    padding: 15px 0;
}
.push-modal-body .form-push p{

    display:inline-block;
}
.push-modal-body .form-push span{

    display: block;
    font-family: "proximanova-semibold";
    font-size: 15px;
    color: #858585;
}
.push-modal-body .email-push {


    border: none;
    background-color: #f5f5f5;
    width: 260px;
    height: 50px;
    outline: none;
}

.push-modal-body .button-push{


    padding: 15px 93px;
    font-family: "proximanova-bold";
    background-color: #b28500;
    color: #fff;
    font-size: 15px;
    border: none;
    float:right;
    margin-top: 20px;

}

.registration-modal-header .cancel-button{
    
}
.registration-modal-content .push-modal-footer{

    text-align:center;
        padding-top: 30px;
}
.push-modal-footer p>a{
    color: #444444;
    text-decoration: none;
    font-family: "proximanova-semibold";
    font-size: 16px;
    border-bottom: 2px solid #b28500;
}

.enter-modal-body .form-enter p:nth-child(1){

    margin-right: 85px;
    float:left;
}


.form-enter .checkbox{
    float:right;
    width: 100%;
    max-width: 260px;
}

.checkbox-enter label{
    font-size: 15px;
    font-family: "proximanova-semibold";
    color:#858585;
}

.checkbox .check-enter{
    margin-left: 0;
}

 .enter-modal-content .enter-modal-footer{
    text-align: center;
}

.enter-modal-footer .button-form-enter {
    padding: 13px 56px;
    font-family: "proximanova-bold";
    font-size: 15px;
    background-color: #b28500;
    color: #fff;
    margin-top: 20px;
    display:block;
    margin:20px auto 0;
}


.enter-modal-footer p>a {
    color: #444444;
    text-decoration: none;
    font-family: "proximanova-semibold";
    font-size: 16px;
    border-bottom: 2px solid #b28500;
}
.enter-modal-footer .field1{

    margin-top: 30px;
}

.forget-modal-content .button-forget{
    padding: 15px 61px;
}

.tabs-wrapper{
    margin-top: 40px;
}
.tabs-wrapper .tabs-navi{

    border-bottom:0;
    max-width: 735px;
    margin: 0 auto;
    text-align: center;

}

.tabs-wrapper .tabs-navi >li{

    border: 2px solid #333333;
    border-right:none;
    margin: 1px -2px;
    display: inline-block;
    float:none;
}
.tabs-wrapper .tabs-navi >li:nth-last-child(1){

    border-right: 2px solid #333333;
}
.tabs-wrapper .tabs-navi >li>a{
    color:#333333;
    font-family:"Proximanova-bold";
    font-size: 13px;
    text-transform:uppercase;
    padding: 14px 39px;
}


.tabs-wrapper .tabs-navi >li.active>a,
.tabs-wrapper .tabs-navi >li.active>a:focus,
.tabs-wrapper .tabs-navi >li.active>a:active{

    color:#fff;
    border:none;
    background-color: #333333;
    margin: 0;
    padding: 15px 39px;
    border-radius: 0;
}
.wrapperinfo-middle-side-main-panel .balance-wrapper{
    display:block;
}
.wrapperinfo-left-side-main-panel {
    text-align: center;
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
   
}

.h1-main-panel{

    font-size: 38px;
    font-family:"Proximanova-regular";
    color:#444444;
    text-align: center;
    margin: 70px 0;
}

.status-main-panel {
    text-align: center;
    font-family: "proximanova-semibold";
    font-size: 16px;
    color: #444444;
    margin-top: 10px;
}

.name-main-panel{

    font-family: "proximanova-regular";
    font-size: 30px;
    color:#b28500;
    margin-top: 10px;
}

.phone-main-panel{
    margin-top: 10px;
    font-family: "proximanova-semibold";
    font-size: 20px;
    color:#444444;
}
.wrapperinfo-middle-side-main-panel{
    text-align: center;
    border: 1px solid #eeeeee;
    margin-bottom: 20px;

}

.balance {
    font-family: "proximanova-semibold";
    font-size: 16px;
    margin-top: 10px;
    color: #444444;
}

.money {
    font-family: "proximanova-regular";
    font-size: 30px;
    color: #b28500;
}

.balance-wrapper{

    border: 1px solid #eeeeee;
}

.write-off{

    font-family: "Proximanova-semibold";
    font-size: 16px;
    margin-top: 10px;
}
.write-off-wrapper .field1 {
    font-family: "proximanova-bold";
    font-size: 14px;
    padding: 0 15px;
    width: 100%;
    text-align: left;
}

.write-off-wrapper .field1 span{
float:right;
color:#ff2626;
}

.write-off-wrapper .field2 {
    text-align: right;
    font-size: 14px;
    font-family: "proximanova-bold";
    font-style: italic;
    padding: 0 15px;
    color: #a2a2a2;
     border-bottom: 1px solid #eeeeee;
}

.payments {
    font-family: "proximanova-semibold";
    font-size: 16px;
    margin-top: 10px;
    color: #444444;
}

.payments-wrapper .field1 {
    font-family: "proximanova-bold";
    font-size: 14px;
    padding: 0 15px;
    width: 100%;
    text-align: left;
}

.payments-wrapper .field1 span{
float:right;
color:#b28500;
}

.payments-wrapper .field2 {
    text-align: right;
    font-size: 14px;
    font-family: "proximanova-bold";
    font-style: italic;
    padding: 0 15px;
    color: #a2a2a2;
     border-bottom: 1px solid #eeeeee;
     margin: 0;
     padding-bottom: 10px;
}

.underline-main-panel {

    margin: 20px auto;
    border: 1px solid #eeeeee;
    width: 35px;
}

.sectionwrapper-hand-over,
.rent-wrapper,
.sectionwrapper-laying-over {
    max-width: 530px;
    margin: 40px auto;
    border: 1px solid #eeeeee;
}
.rent-wrapper{
    height: 218px;
}

.hand-over-wrapper,
.laying-over-wrapper{
    border-bottom:  1px solid #eeeeee;
    position:relative;
    height:218px;
}

.picture-rent,
.picture-hand-over,
.picture-laying-over {
    vertical-align: middle;
    padding: 15px;
    float: left;
}

.info-rent-wrapper,
.info-hand-over-wrapper,
.laying-hand-over-wrapper{
display: inline-block;
padding: 0 5px;
}

.info-rent-wrapper h3,
.info-hand-over-wrapper h3,
.laying-hand-over-wrapper h3{
    font-family: "proximanova-semibold";
    font-size: 20px;
    color:#444444;
    margin-top: 15px;
}

.street {
    font-family: "proximanova-semibold";
    font-size: 16px;
    color: #878787;
    margin:0;
}
.town {
    font-family: "proximanova-semibold";
    font-size: 16px;
    color: #878787;
    margin-bottom:10px;
}

.contract,
.signature-date,
.expiration-date,
.monthly-payment,
.date-payment,
.tenant{
    font-family: "proximanova-bold";
    font-size: 14px;
    color: #b28500;
    margin:0;
}

.contract span,
.signature-date span,
.expiration-date span,
.monthly-payment span,
.date-payment span,
.tenant span{
    color:#444444;
}

.state {
    position: absolute;
    bottom: -5px;
    left: 110px;
    background-color: #3dbc6b;
    font-family: "proximanova-bold";
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
}
.wrapper-hand-over,
.wrapper-laying-over {
    display: inline-block;
    position: relative;
    float:left;
}

.laying-over-wrapper .button-laying{

    position: absolute;
    right: 11px;
    top: 0;
    color: #333333;
    background-color: #fff;
    border-radius: 50%;
    z-index:1;
    width: 35px;
    height: 35px;
    opacity: 1;
}

.form-settings{
    
    margin: 40px auto;
    
}

.upload-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: center;
    margin-top: 40px;
}
.upload-wrapper .figure{

    width:150px;
    height: 150px;
    border-radius:50%;
    border:none;
    background-color:  #eeeeee;
    position:relative;

}
.input-wrapper {
    display: inline-block;
    max-width: 300px;
    margin: 0 auto;
    float: right;
}
 .form-settings p p{
    font-family: "proximanova-semibold";
    font-size: 15px;
    color: #858585;
    margin: 35px 0 0 0;
}
.form-settings input{
    max-width: 300px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #f5f5f5;
}

.form-settings p .undercomments{
    float: right;
    font-size: 13px;
    font-family: "proximanova-bold";
    color: #b9b9b9;
}

.form-settings span {
    font-family: "proximanova-bold";
    font-size: 13px;
    color: #b9b9b9;
}

.wrapper-button-form-settings{
    overflow:hidden;
    margin: 0 -45px 20px 0;
    text-align: center;
    
}
.wrapper-button-form-settings:before,
.wrapper-button-form-settings:after{
    content: '';  
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 26%;
  height: 2px;
    background: #eeeeee;
    border: solid #eeeeee;
  border-width: 0 10px;
    
}
.wrapper-button-form-settings:before{

     margin-left: -100%;
}

.wrapper-button-form-settings:after{

     margin-right: -100%;
}
.button-form-settings{


    border: none;
    background-color: #b28500;
    color: #fff;
    font-family: "proximanova-bold";
    font-size: 15px;
    padding: 15px 116px;

}


 .form-settings .obligatory {
    font-size: 17px;
    font-family: "proximanova-bold";
    color: #ff0000;
    display: inline-block;
    margin: 0 0 0 5px;
    float:none;
}
.input-wrapper .condition{
    margin: 0;
    display: inline-block;
}

.file-upload input[type="file"]{

display: none;

}

.file-upload .choose-file{

    
    font-family: "proximanova-semibold";
    font-size: 16px;
    color: #444444;
    border-bottom: 2px solid #b28500;
    margin-right: 15px;

}

.file-upload {
    margin-top: 15px;
}

.upload-wrapper p{
    font-family: "proximanova-bold";
    font-size: 13px;
    color: #858585;
    margin: 0 auto;
    max-width: 200px;
    text-align: left;
    padding-left: 33px;
}
.upload-wrapper p span{
    float:none;
    color:#444444;
}

.upload-wrapper .button-upload-wrapper{

    position: absolute;
    right: -15px;
    top: 40%;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
}

.input-wrapper .invisible-block{

    display:none;
}

.input-wrapper p{
    text-align: left;
}

.input-wrapper .undercomments{

    display:block;
    margin: 10px 0;
    text-align: left;
}

.tabs-section{
     
}
.tabs-section .invisiblemenu-tabs-wrapper{
    display:none;
    background-color: #333;
    padding: 0;
   
    
    
}



.tabs-section .invisiblemenu-tabs-wrapper .button-invisiblemenu-tabs-wrapper{
    color: #5a5a5a;
    font-family: "proximanova-bold";
    font-size: 13px;
    padding: 15px 0 ;
    display: block;
    margin-left: 50px;
    text-transform: uppercase;
    ;
}

.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper{

    width: 100%;
    background-color: #333333;
    margin: 0;
    border: none;
    border-radius: 0;
    top:96%;
    padding: 0;
}

.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li:nth-child(1){

    margin: 0;
}
.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li{
    margin: 10px 0;
}
.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li> a{

    color: #5a5a5a;
    font-family: "proximanova-bold";
    font-size: 13px;
    padding:0;
    display: inline;
    margin-left: 50px;
    text-transform: uppercase;
}

.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li> a,
.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li> a:hover,
.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li> a:focus{

    background-color: #333333;
}

.tabs-section .invisiblemenu-tabs-wrapper .dropdown-invisiblemenu-tabs-wrapper> li> a:hover{
    
    color:#fff;
    background-color: #333333;

}